.containerChar{
    background-image: url("../../static/screen3.png") !important;
    background-color: white !important;
    width:100%;
    height:100vh;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    padding:5% ;
}

.containerChar h3{
  
    font-family: 'Staatliches';
    color: #C60000;
    font-size: 62px;
    letter-spacing: 2px;
    line-height:30px
   
   
}

.containerChar h5{
   
    color: #C60000;
    font-size: 22px;
    font-weight:bold;
  
    
}
.textChar{
    width:90%;
    font-size:18px;
    z-index:6
}
.character{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}