.container{
    height: 100vh;
    width: 100%;
    background: white;
}

.container h1{
    position: relative;
    font-family: 'Staatliches';
    color: #C60000;
    font-size: 62px;
    letter-spacing: 2px;
    left:2.5%;
   
}
.image{
    position: absolute;
    right: 0px;
   
    bottom: -10px;
    z-index: 0;
    transform: scaleX(-1);
}

.circle{
    
    position: absolute;
    right:0%
}

.container h4{
    position: relative;
    color: #C60000;
    font-size: 22px;
    font-weight:bold;
    left: 2.5%;
    
}
.text{
 
    width: 45%;
    position: absolute;
    font-size: 14px;
    z-index: 6;
    left:3.5%;
    text-overflow:ellipsis;
    padding-right:10px !important;
    /* background: thistle; */
}
.title{
    padding-top:2% !important;
}


@media(max-width:900px){
    .text{
        width:80% !important;
    }
}