.section{
  width:100%;
  height:100%;
  

}

.section:nth-child(1){
  background-color: white;
}
.section:nth-child(2){
  background-color:white;
}
.section:nth-child(3){
  background-color: rgb(231, 166, 25);
}
.section:nth-child(4){
  background-color: rgb(107, 209, 216);
}
.section:nth-child(5){
  background-color: rgb(139, 19, 150);
}

.pp-tableCell{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:40px;
}

